$break1:      "(max-width: 780px)";
$break2:      "(min-width: 781px) and (max-width: 1024px)";
$break2open:  "(min-width: 781px)";
$break3: 	  "(min-width: 1025px) and (max-width: 1600px)";
$break3open:  "(min-width: 1025px)";
$break4open:  "(min-width: 1601px)";